<form method="post" action="{{ path('temperature_delete', {'id': temperature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ temperature.id) }}">
    <button class="btn">Delete</button>
</form>
