{% extends 'base.html.twig' %}

{% block title %}Temperature{% endblock %}

{% block body %}
    <h1>Temperature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temperature.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ temperature.value }}</td>
            </tr>
            <tr>
                <th>Feels_like_value</th>
                <td>{{ temperature.feelsLikeValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('temperature_index') }}">back to list</a>

    <a href="{{ path('temperature_edit', {'id': temperature.id}) }}">edit</a>

    {{ include('temperature/_delete_form.html.twig') }}
{% endblock %}
