{% extends 'base.html.twig' %}

{% block title %}Hello LogoutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Username logged out: {{ app.user.username }}</p>
    {% endif %}
</div>
{% endblock %}
