<form method="post" action="{{ path('pressure_delete', {'id': pressure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pressure.id) }}">
    <button class="btn">Delete</button>
</form>
