{% extends 'base.html.twig' %}

{% block title %}Pressure index{% endblock %}

{% block body %}
    <h1>Pressure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pressure in pressures %}
            <tr>
                <td>{{ pressure.id }}</td>
                <td>{{ pressure.value }}</td>
                <td>
                    <a href="{{ path('pressure_show', {'id': pressure.id}) }}">show</a>
                    <a href="{{ path('pressure_edit', {'id': pressure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pressure_new') }}">Create new</a>
{% endblock %}
