{% extends 'base.html.twig' %}

{% block title %}Pressure{% endblock %}

{% block body %}
    <h1>Pressure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pressure.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ pressure.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pressure_index') }}">back to list</a>

    <a href="{{ path('pressure_edit', {'id': pressure.id}) }}">edit</a>

    {{ include('pressure/_delete_form.html.twig') }}
{% endblock %}
