<form method="post" action="{{ path('weather_status_delete', {'id': weather_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ weather_status.id) }}">
    <button class="btn">Delete</button>
</form>
