{% extends 'base.html.twig' %}

{% block title %}Hello WeatherStatusController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ location.name }}! ✅</h1>

        <ul>
            {% for measurement in weatherStatuses %}
                <li>{{ measurement.date|date('d.m.Y') }}
                    : {{ measurement.temperature.value }} {{ measurement.temperature.unit.unit }}
                    , feels
                    like {{ measurement.temperature.getFeelsLikeValue() }} {{ measurement.temperature.unit.unit }}
                    : {{ measurement.pressure.value }} {{ measurement.pressure.getPressureUnit().getUnit() }}
                    : wind direction {{ measurement.getWindDirection().getDirection() }}

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
