{% extends 'base.html.twig' %}

{% block title %}Edit WeatherStatus{% endblock %}

{% block body %}
    <h1>Edit WeatherStatus</h1>

    {{ include('weather_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('weather_status_index') }}">back to list</a>

    {{ include('weather_status/_delete_form.html.twig') }}
{% endblock %}
