{% extends 'base.html.twig' %}

{% block title %}WeatherStatus index{% endblock %}

{% block body %}
    <h1>WeatherStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Icon_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather_status in weather_statuses %}
            <tr>
                <td>{{ weather_status.id }}</td>
                <td>{{ weather_status.date ? weather_status.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ weather_status.iconName }}</td>
                <td>
                    <a href="{{ path('weather_status_show', {'id': weather_status.id}) }}">show</a>
                    <a href="{{ path('weather_status_edit', {'id': weather_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('weather_status_new') }}">Create new</a>
{% endblock %}
