{% extends 'base.html.twig' %}

{% block title %}New WeatherStatus{% endblock %}

{% block body %}
    <h1>Create new WeatherStatus</h1>

    {{ include('weather_status/_form.html.twig') }}

    <a href="{{ path('weather_status_index') }}">back to list</a>
{% endblock %}
