{% extends 'base.html.twig' %}

{% block title %}WeatherStatus{% endblock %}

{% block body %}
    <h1>WeatherStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather_status.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weather_status.date ? weather_status.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ weather_status.temperature.value }} {{ weather_status.temperature.unit.unit }}</td>
            </tr>
            <tr>
                <th>Pressure</th>
                <td>{{ weather_status.pressure.value }} {{ weather_status.pressure.getPressureUnit.unit }}</td>
            </tr>
            <tr>
                <th>Wind direction</th>
                <td>{{ weather_status.getWindDirection.direction }}</td>
            </tr>
            <tr>
                <th>Icon_name</th>
                <td>{{ weather_status.iconName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weather_status_index') }}">back to list</a>

    <a href="{{ path('weather_status_edit', {'id': weather_status.id}) }}">edit</a>

    {{ include('weather_status/_delete_form.html.twig') }}
{% endblock %}
